@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	box-sizing: border-box;
	margin: 0 0;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
	font-family: inherit;
}