.home,.model,.label,.database {
    align-items: center;
    margin-top:50px;
    padding: 10px; /* Add some padding for better spacing */
    border-radius: 8px;
  }
.database:hover{
    background-color: #b3fad1;
    cursor: pointer;
}
.model:hover{
    background-color: #b3fad1;
    cursor: pointer;
}
.label:hover{
    background-color: #b3fad1;
    cursor: pointer;
}
.home:hover{
    background-color: #b3fad1;
    cursor: pointer;
}
.container {
    margin-top: 50px;
    display: flex;

}
.abc {
        margin-top: 20px; /* Add some margin to separate the waveform from the player */
        text-align: center; /* Center text */
        flex-direction: column;
    }

