.theme {
    --bg-color: #f8f9fa;
    --text-color: #222;
    --hover-color: #b3fad1;
}
  
.theme.dark {
    --bg-color: #121212;
    --text-color: #f8f9fa;
    --hover-color: #2e7d57;
    background-color: #374151;
}

.appContainer {
	padding: 10px;
	width: 100vw;
	height: 100vh;
	display: flex;
  	flex: 0 0 auto;
	flex-direction: row;
	box-sizing: border-box;
}

.icon {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 6px;
    align-items: center;
    color: var(--text-color);
}
.settings {
    position: fixed;
    flex-direction: column;
    border-radius: 2px;
    align-items: left;
    z-index: 10;
}

.sidebar {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 20px;
    gap: 50px;
}

.icon:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}
.settings:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.linkStyle {
    color: var(--text-color);
    font-weight: normal;
    text-decoration: none;
}

.children {
	position: relative;
	display: flex;
	flex: 1 1 0;
	flex-direction: column;
	min-width: 0;
    color: var(--text-color);
}