.icon {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 6px;
    align-items: center;
}
.settings {
    position: fixed;
    flex-direction: column;
    border-radius: 2px;
    align-items: left;
}
.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 10px;
    gap: 50px;
}

.icon:hover {
    background-color: #b3fad1;
    cursor: pointer;
}
.settings:hover {
    background-color: #b3fad1;
    cursor: pointer;
}

.linkStyle {
    color: black;
    font-weight: normal;
    text-decoration: none;
}

.children {
    flex-grow: 1;
}
