.container {
    margin-top: 50px;
    background-color: rgb(243, 243, 243);
    border-radius: 15px;
    /* display: flex; */
    gap: 20px; /* Space between container and magnus */
    width: 80%;
    padding: 20px;
    align-items: flex-start;
    /* flex-direction: column; */
}

.magnus {
    padding: 10px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    flex: 1; /* Allow magnus to grow and take available space */
    width: 80%;
    background-color: white;
    margin-right: 20%;
    padding-left: 15%;
}

.magnusContent {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.magnus h1 {
    margin-bottom: 60px;
}

.magnus button {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 250px;
    border: 2px;
    border-style: solid;
    border-color: gray;
}

.magnus button:hover {
    border-color: black;
}

.magnus label {
    font-size: 20px;
    margin-top:10px;
}

.magnus input, .magnus textarea, .magnus select {
    padding: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background: white;
}

.magnus input, .magnus select{
    width: 60%;
}

.magnus form {
    display: flex;
    flex-direction: column;
}

.formRow {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.labelInput {
    display: flex;
    flex-direction: column;
}

.labelInput input {
    width: 80%;
}

.selectPopup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.databaseNav {
    float: right;
    width: 20%;
    flex-direction: column;
}

.databaseNav button {
    width: 100%;
    background-color:rgb(243, 243, 243);
    border: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 15px;
}

.databaseNav button:hover {
    background-color: white;
}

#selected {
    background-color: white;
}

.hr {
    border: 1px solid lightgray;
    width: 120%;
    padding:0px;
    margin-left:-20%;
}

.dispData {
    border-collapse: collapse;
    width: 120%;
    margin-left: -20%;
}

.dispData tbody tr td {
    padding-top:5px;
    padding-bottom: 5px;
}

.dispData tbody tr:nth-child(odd) td{
    background-color:  rgb(230, 230, 230);
  }