.container {
    margin-top: 10px;
    display: flex;
	flex-direction: column;
    gap: 20px; 
    padding: 20px;
    align-items: flex-start;
	width: fit-content;
}


.verifyButtonMenu {
	display: flex;
    flex-direction: row;
	width: 100%;
	gap: 20px;
}

.nextFiles,.prevFiles,.save {
	align-items: center;
    padding: 10px; /* Add some padding for better spacing */
    border-radius: 8px;
}
.nextFiles:hover,.prevFiles:hover,.save:hover,.pickFiles:hover {
	background-color: #b3fad1;
    cursor: pointer;
}
.disabled {
	align-items: center;
    padding: 10px; /* Add some padding for better spacing */
    border-radius: 8px;
	background-color: #7f7f7f;
}

.pickFiles{
    background-color: rgb(109, 156, 182); 
    color: black; 
    font-size: 16px;
    font-weight: bold; 
    padding: 5px 5px; 
    margin: 0px 20px; 
    border: none; 
    text-align: center;
    display: inline-block; 
    align-self: center;
    width: 150px;
}
.hiddenInputFile{
	display: none;
}


.grid {
	margin-top: 20px;
	display: grid;
	width: 100%;
	/* 
	grid-template-columns: repeat(2, 1fr); 
	grid-template-rows: repeat(5, auto); 
	*/
	gap: 30px;
	width: 1500px;
	
	align-items: start;
}

.waveLoadingCircle {
	width: 50px;
	height: 50px;
	border: 5px solid #ddd;
	border-top: 5px solid #808588;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	display: block; /* Initially hidden */

	position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
	0% { transform: translate(-50%, -50%) rotate(0deg); }
	100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.waveContainer{
	margin-bottom: 0px;
    width: auto;
	height: 128px;
	flex-direction: column;
}
.waveContainerModal{
	margin-bottom: 0px;
    width: 1024px;
	height: 256px;
	flex-direction: column;
}

.redOutline {
	outline: 8px solid rgba(255, 0, 0, 0.7);
}
.greenOutline {
	outline: 8px solid rgba(0, 128, 0, 0.7); /* Default GREEN */
}
.selectOutline {
	box-shadow: 0 0 0 12px black;
}
.unselectOutline {
	box-shadow: 0 0 0 0px black;
}


.modal {
	display: flex;
	align-items: center;
	justify-content: center;  /* Centers horizontally */
	box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
	background-color: white;
	border: 2px solid rgb(240, 240, 240);
	border-radius: 12px;

	width: 1400px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}

.noInteraction {
	pointer-events: none; /* Disable interaction with the background */
}

.indexOverlay {
	position: absolute;
	top: 4px;
	left: 6px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5); /* optional for better contrast */
	padding: 2px 6px;
	border-radius: 4px;
	pointer-events: none; /* don't interfere with clicks */
}


.selectPopup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.4rem;
	width: 450px;
	padding: 1.3rem;
	min-height: 250px;
	position: absolute;
	top: 20%;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 15px;
	z-index: 2;
}

.fileSelectOverlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(3px);
	z-index: 1;
}