.icon {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 4px;
    align-items: center;
}

.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 10px;
    gap: 50px;
}

.icon:hover {
    background-color: #b3fad1;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 16px;
}

.linkStyle {
    color: black;
    font-weight: normal;
    text-decoration: none;
}
